@model IEnumerable<BookShop.Models.Author>

<h2>Authors</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.Name</td>
                <td>@author.Surname</td>
                <td>@author.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@author.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
